# General
.DS_Store
.env
.env.*

# Python / Backend
__pycache__/
venv/
*.pyc
.pytest_cache/

# Node / Frontend
node_modules/
dist/
build/
.eslintcache

# Docker / Caddy
caddy_data/
caddy_config/
.DS_Store
